div(class='game')
  h1 #{title}

  table
    tr
      td
        if boxart
          img(src=boxart)
        else
          img(src=horizontalHeaderImage, width=100)

      td
        p(style={'font-size': '12px'}) #{description}

      td
        div
          div MSRP: #{msrp}
          div salePrice: #{salePrice}
          a(href='https://nintendo.com' + url, target='_blank') #{url}

          // #{foo}
